.button{
    margin-left: 125%;
    border: none;
    width: 120px;
    color: white;
    height: 35px;
    background-color: #ff4f5a;
    font-weight: 900;
    border-radius: 25px;
    margin-top: 5px;
}
.image{
    margin-left: 80%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.card{
    margin-bottom: 6%;
}

.heading{
    background-color: #ececec;
}
