<div class="row mt-3  justify-content-center">
    <div class="col-md-11 card" >
        <div class="row " style="background: #cc3d00 radial-gradient(circle at 60% 100%,#ffa436 5%,#cc3d00 94%);color: black;margin: 10px;padding: 10px;">
            <div class="col-md-12 d-flex justify-content-center" >
                <h2>Add Theatres</h2>
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <form name="form" [formGroup] = "form" (ngSubmit) = "form.valid && onSubmit()" class="card m-2">

                            <div class="col-md-12">
                                <div class="m-1">
                                    <div class="form-group">
                                        <label ><h3 class="font-weight-bold m-0">Select Location:</h3></label>
                                        <select class="form-control" formControlName="locationId" [ngClass]="{ 'is-invalid':form.get('locationId')?.touched && form.get('locationId')?.invalid}" name="locationId">
                                            <option *ngFor='let location of locations' value="{{location.location_id}}">{{location.location_id}}. {{location.location_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="m-1">
                                    <div class="form-group">
                                        <label ><h3 class="font-weight-bold m-0">Select Movie:</h3></label>
                                        <select class="form-control" formControlName="movieID" [ngClass]="{ 'is-invalid':form.get('movieID')?.touched && form.get('movieID')?.invalid}" name="movieID">
                                            <option *ngFor='let movie of movies' value="{{movie.movieId}}">{{movie.movieId}}. {{movie.movieName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 ">
                                <div class="m-1">
                                    <input class="input form-control" formControlName="theatreName" [ngClass]="{ 'is-invalid':form.get('theatreName')?.touched && form.get('theatreName')?.invalid}" name="theatreName" type="text" placeholder="Theatre Name" required>
                                    <!--<small>Format: Slot + slotno</small>-->
                                </div>
                            </div>

                            <div class="col-md-12 mt-2 mb-2 ">
                                <div class="m-1 mt-4">
                                    <button class="button" type="submit" [disabled]="!form.valid">Add</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
